@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
}

.sizer {
  height: 100vh !important;
}

@layer components {
  .spacings {
    @apply px-[10px] md:px-[20px] lg:px-[70px] lg:max-w-[1440px] w-full m-[auto];
  }
}

::-webkit-scrollbar {
  width: 0px;
}

.shadow-cursor-container {
  position: relative;
}

.shadow-cursor {
  position: absolute;
  width: 00px;
  height: 0px;
  opacity: 0.3; /* Set opacity to 1 to fully show the shadow */
  box-shadow: 0 0 200px 100px rgba(33, 150, 243, 0.5);
  border-radius: 50%;
  pointer-events: none; /* Ensure the shadow cursor doesn't interfere with other elements */
}

.resume {
  margin: 0px !important;
  padding: 0px !important;
  background-color: #fff;
}
