@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #141922;
  margin: 0px;
  /* scroll-behavior: smooth; */
}

.sizer {
  height: 100vh !important;
}

@layer components {
  .spacings {
    @apply px-[10px] md:px-[20px] lg:px-[70px] lg:max-w-[1440px] w-full m-[auto];
  }
}

::-webkit-scrollbar {
  width: 0px;
}
